# GitHub Personal Access Token for persistent cloud Gist synchronization (repo or gist scope)
GIST_TOKEN=
# Target Gist raw or API URL
GIST_URL=https://gist.githubusercontent.com/mohazard555/b98509446eaf8132fc819cff8f3f7956/raw/toysgame.json
